<%= simple_form_for(@bird, :html => { :multipart => true }) do |f| %>
  <% if @bird.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bird.errors.count, "error") %> prohibited this bird from being saved:</h2>

      <ul>
      <% @bird.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :primary_image %><br />
	<%= f.file_field :primary_image %>
  </div>	
  <div class="field">
	<%= f.label :secondary_image %><br />
	<%= f.file_field :secondary_image %>
  </div>
  <div class="field">	
	<%= f.label :range_map %><br />
	<%= f.file_field :range_map %>
  </div>
  <div class="field">
	<%= f.label :song %><br />
	<%= f.file_field :song %>
  </div>
	
  <div class="field">
    <%= f.label :common_name %><br />
    <%= f.text_field :common_name %>
  </div>
  <div class="field">
    <%= f.label :scientific_name %><br />
    <%= f.text_field :scientific_name %>
  </div>
  <div class="field">
    <%= f.label :chinese_name %><br />
    <%= f.text_field :chinese_name %>
  </div>
  <div class="field">
    <%= f.label :tibetan_name %><br />
    <%= f.text_field :tibetan_name %>
  </div>
  <div class="field">
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :summer %><br />
    <%= f.check_box :summer %>
  </div>
  <div class="field">
    <%= f.label :fall %><br />
    <%= f.check_box :fall %>
  </div>
  <div class="field">
    <%= f.label :winter %><br />
    <%= f.check_box :winter %>
  </div>
  <div class="field">
    <%= f.label :spring %><br />
    <%= f.check_box :spring %>
  </div>
  <div class="field">
    <%= f.label :english_description %><br />
    <%= f.text_area :english_description %>
  </div>
  <div class="field">
    <%= f.label :chinese_description %><br />
    <%= f.text_area :chinese_description %>
  </div>

  <%= f.association :chapter %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
