<div class="container">
  <div class="row">
    <div class="span12">
      <h1>Listing birds</h1>

      <div class="form-actions">
        <%= link_to 'New Bird', new_admin_bird_path, class: 'btn btn-inverse' %>
      </div>

      <table class="table">
        <tr>
          <th>Image</th>
          <th>Common name</th>
          <th>Scientific name</th>
          <th>Size</th>
          <th>English description</th>
          <th colspan="3">Actions</th>
        </tr>

      <% @birds.each do |bird| %>
        <tr>
          <td><%= image_tag bird.primary_image.url(:tiny) %></td>
          <td><%= link_to bird.common_name, bird %></td>
          <td><%= bird.scientific_name %></td>
          <td><%= bird.size %></td>
          <td><%= bird.english_description.truncate(10) %></td>
          <td><%= link_to 'Edit', edit_admin_bird_path(bird), class: 'btn btn-primary' %></td>
          <td><%= link_to 'Destroy', [:admin, bird], class: 'btn btn-danger', confirm: 'Are you sure?', method: :delete %></td>
        </tr>
      <% end %>
      </table>

      <div class="form-actions">
        <%= link_to 'New Bird', new_admin_bird_path, class: 'btn btn-inverse' %>
      </div>
    </div>
  </div>
</div>
