		<div class="container_12">
		  <div class="grid_12">insert banner photo here</div>
		  
		  <div class="clear"></div>
		  
		  <div class="grid_12">insert search finder here</div>
		  <div class="clear"></div>
		  
		  <% birds = Bird.all.shuffle %>
		  
		  <div class="grid_2"><%= image_tag birds[0].primary_image.url(:thumb), id: birds[0].id %></div>
		  <div class="grid_2"><%= image_tag birds[1].primary_image.url(:thumb), id: birds[1].id %></div>
		  <div class="grid_2"><%= image_tag birds[2].primary_image.url(:thumb), id: birds[2].id %></div>
		  <div class="grid_2"><%= image_tag birds[3].primary_image.url(:thumb), id: birds[3].id %></div>
		  <div class="grid_2"><%= image_tag birds[4].primary_image.url(:thumb), id: birds[4].id %></div>
		  <div class="grid_2"><%= image_tag birds[5].primary_image.url(:thumb), id: birds[5].id %></div>
		  <div class="clear"></div>

		  <div class="grid_2"><%= image_tag birds[6].primary_image.url(:thumb), id: birds[6].id %></div>
		  <div class="grid_2"><%= image_tag birds[7].primary_image.url(:thumb), id: birds[7].id %></div>
		  <div class="grid_2"><%= image_tag birds[8].primary_image.url(:thumb), id: birds[8].id %></div>
		  <div class="grid_2"><%= image_tag birds[9].primary_image.url(:thumb), id: birds[9].id %></div>
		  <div class="grid_2"><%= image_tag birds[10].primary_image.url(:thumb), id: birds[10].id %></div>
		  <div class="grid_2"><%= image_tag birds[11].primary_image.url(:thumb), id: birds[11].id %></div>
		  <div class="clear"></div>
		  
		  <div class="grid_2"><%= image_tag birds[12].primary_image.url(:thumb), id: birds[12].id %></div>
		  <div class="grid_2"><%= image_tag birds[13].primary_image.url(:thumb), id: birds[13].id %></div>
		  <div class="grid_2"><%= image_tag birds[14].primary_image.url(:thumb), id: birds[14].id %></div>
		  <div class="grid_2"><%= image_tag birds[15].primary_image.url(:thumb), id: birds[15].id %></div>
		  <div class="grid_2"><%= image_tag birds[16].primary_image.url(:thumb), id: birds[16].id %></div>
		  <div class="grid_2"><%= image_tag birds[17].primary_image.url(:thumb), id: birds[17].id %></div>
		  <div class="clear"></div>
		</div>