<div class="container">
  <%= render 'welcome/heading' %>
    <div class="row">
      <div class="span12">
        <div style="padding: 0 150px;">

          <div id="myCarousel" class="carousel slide"><p></p>
            <div class="carousel-inner">
              <div class="active item">  
                <% Banner.all.each do |banner| %>
                <li><%=link_to image_tag(banner.main_image.url, id: banner.id), banner.bird %></li>
                <% end %>                
                <!--<%= image_tag("C:/Sites/Birds/app/assets/images/banner/fantail.jpg")%>
                <div class="carousel-caption">
                  <p>fantail</p>
                </div>              
              <div class="item">  
                <%= image_tag("C:/Sites/Birds/app/assets/images/banner/pkeet.jpg")%>
                <div class="carousel-caption">
                  <p>parakeet</p>
                </div>
              </div>  
              <div class="item">  
                <%= image_tag("C:/Sites/Birds/app/assets/images/banner/tit.jpg")%>
                <div class="carousel-caption">
                  <p>tit</p>
                </div>
              </div> -->                
            </div>
              <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>
        </div>
      </div>
      <div class="span 8 intro text">
        <p>Welcome to the Birds of Shangrila Website! Here, you can find pictures, bird songs and descriptions of the most common birds in Shangrila, Yunnan, China. In addition, you will find several traditional Tibetan and Chinese folktales, songs, and anecdotes about the birds of this region.</p>
      </div>  
      <div class="span12">
        <div class="shangrila_map"> 
          <%= image_tag("/system/birds/Shangrila_map.jpg", :size => '675x675')%>
        </div> 
      </div>
    </div>  
  </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>
<script src="js/bootstrap.min.js"></script>
<script>
  $(document).ready(function(){
    $('.carousel').carousel();
  });
</script>

