<section class="welcome_body">
	<div class="row">
		<div class="span1"></div>
	  	<div class="span10">
	    	<div class="thankyou">
	    		<h3>About Us</h3>
	    		<p>Thank you for visiting the Birds of Shangrila website! This page is based on the <em>Handbook to the Birds of Shangrila</em>, and is also available as an <%= link_to "ebook", "http://silvis.forest.wisc.edu/research/story/Birds-Shangrila"%> and an <%= link_to "interactive pdf", "http://silvis.forest.wisc.edu/research/story/Birds-Shangrila"%>.</p>
	    		<p>Collaborators include:</p>
	    	</div>
	    </div>		
	    <div class="span1"></div>

	    <div class="collaborators">
		    <div class="span2"></div>	
		    <div class="span8">	
				 Jodi Brandt - ecologist<br/> 
				 Ellen Bartee - linguist<br/> 
				 Christine Shieves - book, ebook, and pdf design and development<br/> 
				 Li De You - consultant/publication manager<br/> 
				 Cecilia Kong - Chinese translation<br/> 
				 <%= link_to "Emily Duerr", "http://silvis.forest.wisc.edu/people/Emily-Duerr"%> and Kevin Alford - webpage development<br/>
				</br>
				 Area maps were created by Jodi Brandt<br/> 
				 Range maps by David MacKinnon, courtesy of John MacKinnon<br/> 
				 <br/> 
	    		 We would like to thank John and Jemi Holmes for the use of their amazing photos.
	    		 <br></br>
	    		 <br></br>
	    		 <p><%= link_to image_tag("/system/birds/JJOWLS.png", :size => '280x50'), "http://johnjemi.blogspot.com/"%></p>
	    		 <br></br>
	    	</div>
	    	<div class="span2"></div>
	    </div>	
	</div>		
	<div class="row">
		<div class="span1"></div>
		<div class="span10">
		   	<p>We gratefully acknowledge support from <%= link_to image_tag("/system/birds/nsf_logo.png"), "http://www.nsf.gov/"%>, <%= link_to image_tag("/system/birds/nasa.png"), "http://www.nasa.gov/" %>, and the <%= link_to "SILVIS Lab", "http://silvis.forest.wisc.edu/"%>.
		   	</p>
		    <br></br>
		</div>
		<div class="span1"></div>	
	</div>	
</section>	

