<div class="container_12">
	<%= render 'search' %>
	
	<% @birds.each do |bird| %>
		<div class="grid_4">
			<%= link_to image_tag(bird.primary_image.url(:tiny)), bird %>
		</div>
		
		<div class="grid_4">
			<%= bird.common_name %>
			<br />
			<%= bird.scientific_name %>
		</div>
		
		<div class="grid_4">
			<%= bird.chinese_name %>
			<br />
			<%= bird.tibetan_name %>
		</div>
		
		<div class="clear"></div>
	<% end %>
</div>
