<div class="container">
    <%= render 'welcome/heading' %>
    <div class="row">
        <div class="span12">
            <div class="display_box ch_head">    
                <h3>
        			<%= link_to @bird.chapter.name, @bird.chapter %>
                </h3>
                <h4>
                    <%= link_to @bird.chapter.chinese_name, @bird.chapter %>
                </h4>	
            </div>    
        </div>
    </div> 				
    <div class="row">
        <div class="span6">
            <div class="display_box">
                <h4>
                    <%= @bird.common_name %>
                </h4>
                <div class="science_name">
                    <p><i><%= @bird.scientific_name %></i></p>
                </div>
                <div class="multi_names">    
                    <div class="chinese_name"><%= @bird.chinese_name %></div>
                    <div class="tibetan_name"><%= @bird.tibetan_name %></div>
                </div>
                <br></br>
                <div class="main_bird">    
                    <p><%= image_tag @bird.primary_image.url(:main) %></p>
                </div>
                <div class="audio">                    
                    <p><audio src="%3C%=%20@bird.song.url%20%%3E" controls=""></audio></p>
                </div>    
            </div>    
        </div>
        <div class="span6">
            <div class="display_box block_two">
                <div class="second_image">
                    <%= image_tag @bird.secondary_image.url(:main)%>
                </div>    
                <div class="bird_text">
                    <p><%= @bird.english_description %></p>
                    <p><%= @bird.chinese_description %></p>
                </div>
                <div class="seasons">
                    <strong>Seasons:</strong>
                    <% if @bird.summer %><%= image_tag "summer.png" %><% end %>
                    <% if @bird.fall %><%= image_tag "fall.png" %><% end %>
                    <% if @bird.winter %><%= image_tag "winter.png" %><% end %>
                    <% if @bird.spring %><%= image_tag "spring.png" %><% end %> &nbsp &nbsp &nbsp
                    <strong>Size:</strong> <%= @bird.size %> cm
                </div>
                
    			<div class="map">
    			    <%= image_tag @bird.range_map.url(:main) %>
    			</div>	
            </div>
        </div>

    </div>
</div>
