<div class="container_12">
	<p id="notice"><%= notice %></p>

	<div class="grid_6">
		<p>
		  <%= @bird.common_name %>
		</p>

		<p>

		  <i><%= @bird.scientific_name %></i>
		</p>

		<p>
		  Chinese name:
		  <%= @bird.chinese_name %>
		</p>

		<p>
		  Tibetan name:
		  <%= @bird.tibetan_name %>
		</p>

		<p>
		  <%= image_tag @bird.primary_image.url(:main) %> 
		</p>
		
		<p>
		  <audio src="<%= @bird.song.url %>" controls></audio>
		</p>
	 </div>

	<div class="grid_6">
		<p>
		  <%= image_tag @bird.secondary_image.url(:main), style: 'float: right; margin: 5px;' %>
		  <%= @bird.english_description %>
		</p>

		<p>
		  <%= @bird.chinese_description %>
		</p>
		<p>
		  <b>Size:</b> 
		  <%= @bird.size %> cm
		</p>

		<p>
		 <p>	
		  <b>Seasons:</b>
		 </p>
		  <% if @bird.summer %>
		  <%= image_tag "summer.png" %>
		  <% end %>
		
		  <% if @bird.fall %>
		  <%= image_tag "fall.png" %>
		  <% end %>

		  <% if @bird.winter %>
		  <%= image_tag "winter.png" %>
		  <% end %>
	
		  <% if @bird.spring %>
		  <%= image_tag "spring.png" %>
		  <% end %>
		</p>

		<%= image_tag @bird.range_map.url(:main) %>
		<p>

		  <%= link_to @bird.chapter.name, @bird.chapter %>
		</p>

	</div>

	<%= link_to 'Edit', edit_bird_path(@bird) %> |
	<%= link_to 'Back', birds_path %>
</div>