<div class="bird_show_page">
<div class="row">
  <div class="span12">
    <div class="display_box ch_head">
      <p><%= link_to @bird.chapter.name, @bird.chapter %></p>
      <div class="chinese_ch">
        <p><%= link_to @bird.chapter.chinese_name, @bird.chapter %></p>
      </div>    
    </div>
  </div>
</div>

<div class="row">
  <div class="span6">
    <div class="display_box">
      <div class="bird_stats">
        <h3> <%= @bird.common_name %> </h3>
        <dl>
          <dt>Scientific Name:</dt>
          <dd><em><%= @bird.scientific_name %></em></dd>

          <dt>Chinese Name:</dt>
          <dd><%= @bird.chinese_name %></dd>

          <dt>Tibetan Name:</dt>
          <dd><%= @bird.tibetan_name %></dd>

          <dt>Size:</dt>
          <dd><%= @bird.size %> cm</dd>

          <dt>Seasons:</dt>
          <dd>
            <% if @bird.summer %><%= image_tag "summer.png" %><% end %>
            <% if @bird.fall   %><%= image_tag "fall.png"   %><% end %>
            <% if @bird.winter %><%= image_tag "winter.png" %><% end %>
            <% if @bird.spring %><%= image_tag "spring.png" %><% end %>
          </dd>
          <dt>Song:</dt>
          <dd><audio src="<%= @bird.song.url %>" controls=""></audio></dd>
        </dl>
        <div class="clear"></div>
      </div>
    </div>  

    <div class="display_box">
      <div class="main_bird">
        <p><%= image_tag @bird.primary_image.url(:main) %></p>
      </div>
    </div>
  </div>

  <div class="span6">
    <div class="display_box">
      <div class="second_image">
        <%= image_tag @bird.secondary_image.url(:main)%>
      </div>

      <div class="bird_text">
        <p><%= @bird.english_description %></p>
        <p><%= @bird.chinese_description %></p>
      </div>

      <div class="map">
          <%= image_tag @bird.range_map.url(:main) %>
      </div>
    </div>
  </div>
</div>

</div>
